body{
  background-color: #311604!important;
  height: 100vh;
}
.App {
  text-align: center;
}
.homeContainer{
  display: flex;
  flex-direction: column;
  color: white;
  text-align: center;
}
.App-logo{
  height: 30vmin;
  width: 250px;
  margin: 10px auto;
  pointer-events: none;
}
.charCounter{
  color: white;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.defaultContainer{
  width:500px;
  display: grid;
  place-items: center;
  margin: 200px auto;
  padding: 10px;
  border: 1px solid white;
  box-shadow: 8px 5px 5px rgba(240, 240, 240, 0.767);
}
.buttonContainer{
  margin: 10px auto;
}
.buttons{
  text-align: center;
}
