body{
  background-color: #23325F!important;
  height: 100vh;
}
.App {
  text-align: center;
}
.homeContainer{
  display: flex;
  flex-direction: column;
  color: white;
  text-align: center;
}
.App-logo{
  height: 30vmin;
  width: 250px;
  margin: 10px auto;
  pointer-events: none;
}
.charCounter{
  color: white;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
